@page
@model RazorPagesCovid.Pages.Covid.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	@if (Model.UserId != null)
	{
		if (Model.Apppointment.Where(u => u.UserId == Model.UserId).Count() < 2)
		{
			<a asp-route-userId="@Model.UserId" asp-page-handler="User" asp-page="Create">Create New</a>
		}
	}
	else
	{
		<a asp-page="Create">Create New</a>
	}
</p>

<form>
    <p>
        <select asp-for="NameOfVaccine" asp-items="Model.GetAppointments">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apppointment[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apppointment[0].DateOfAppointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apppointment[0].Vaccine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apppointment[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Apppointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccine.VaccineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
